    {% if function.coroutine %}async def{% else %}def{% endif %} {{ function.name }} ({{ function.arguments }})-> {{function.response}}:
        {% if function.serialize %}response = {% endif %}{% if function.coroutine %}await{% endif %} self.client.request(
            method="{{ request.method.upper() }}",
            url={% if request.paths %}f"{{ request.url }}"{% else %}"{{ request.url }}"{% endif %},
            {%- if request.queries %}
            params={
                {%- for key in request.queries %}
                "{{ key }}": {{ key }},
                {%- endfor %}
            },
            {%- endif %}
            {%- if request.headers %}
            headers={
                {%- for key, value in request.headers.items() %}
                "{{ key }}": {{ value }},
                {%- endfor %}
            },
            {%- endif %}
            {%- if request.body %}
            json=body,
            {%- endif %}
            {%- if request.data %}
            data=data,
            {%- endif %}
            {%- if request.file %}
            files={"file": (file.filename, file.content, file.content_type)},
            {%- endif %}
            {%- if request.files %}
            files=[(f.filename, f.content, f.content_type) for f in files],
            {%- endif %}
            {%- if request.auth %}
            auth=(username, password),
            {%- endif %}
        )
        {%- if function.serialize %}
        return {{ function.serialize }}
        {%- endif %}
