{%- if name -%}
    {%- if not python -%}
        {%- if array -%}
            return [{{name}}(**item) for item in response]
        {%- else -%}
            return {{name}}(**response)
        {%- endif -%}
    {%- else -%}
        return response
    {%- endif -%}
{%- endif -%}